@charset "UTF-8";

@font-face {
  font-family: 'font';
  src: url("../font/SmileySans-Oblique.ttf");
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  text-decoration: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(245, 243, 215, 0.8);
  }

  body .shell-main {
    width: 100%;
    height: 60px;
    position: sticky;
    top: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 18vh;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.6));
    backdrop-filter: blur(13px);
  }
  
  body .shell-main .logo {
    width: 220px;
    height: 100%;
    position: absolute;
    left: 5%;
    justify-content: space-between;
    display: flex;
    align-items: center;
  }

  body .shell-main .logo img {
    width: 55px;
    height: 55px;
  }

  body .shell-main .logo span {
    font: 100 40px 'font';
    letter-spacing: 4px;
  }

  body .shell-main .logo a {
    font: 50 40px 'font';
    letter-spacing: 4px;
    display: inline-block;
    white-space: nowrap;
    margin-left: 355%;
  }

body .main { 
  display: flex;
  justify-content: center;
  width: 85%;
  height: 1000%;
  margin-top: 135px; 
  margin-bottom: 80px; 
  margin-left: 125px; 
  margin-right: 125px; 
  background-color: 	rgba(59,4,29,0.4);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

body .item1{
  flex:2;
  display: flex;
  flex-direction: column;
  background-color: 	 rgba(255, 253, 240, 0.5);
  margin: 10px;
}

body .header{
  flex:1;
  border: 4px solid rgba(59,4,29,0.4);
}

body .header span{
  font: 20 27px 'font';
  letter-spacing: 2px;
  padding: 4px;
}

body .app{
  flex:13;
  display: flex;
  border: 4px solid rgba(59,4,29,0.4);
}

body .app1{
  flex-basis: 7%;
  height: 100%;
  border: 2px solid rgba(136, 136, 136, 0.4);
  position: relative;
  transition: all ease 1s;
  z-index:500;
}

body .app1 img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.6;
  transition: all ease 1s;
}

body .app1:before{
  position: absolute;
  content: '';
  background-color:rgba(112, 150, 153, 0.521);
  left: 0;
  top: 0;
  height: 100%;
  width:100%;
  transform: scaleX(0);
  transform-origin: left;
  transition: all ease 0.5s,left 0.8s ease;
}

body .app1:after{
  position: absolute;
  content: '';
  background-image: url("../image/travelboy.png");
  background-size: cover;
  background-position: right;
  left: 0;
  top: 0;
  height: 100%;
  width: 1361%;
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  transition: all ease 0.8s
}

body .app1:hover:after{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  cursor: pointer;
}

body .app1:hover:before{
  transform: scaleX(1);
  left: 846px
}

body .app2{
  flex-basis: 7%;
  height: 100%;
  border: 2px solid rgba(136, 136, 136, 0.4);
  position: relative;
  z-index:490;
  transition: all ease 1s;
}

body .app2 img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.6;
  transition: all ease 1s;
}

body .app2:before{
  position: absolute;
  content: '';
  background-color:rgba(235, 181, 65, 0.521);
  left: 0;
  top: 0;
  height: 100%;
  width:100%;
  transform: scaleX(0);
  transform-origin: left;
  transition: all ease 0.5s,left 0.8s ease;
}

body .app2:after{
  position: absolute;
  content: '';
  background-image: url("../image/stylishradio.png");
  background-size: cover;
  background-position: right;
  left: 0;
  top: 0;
  height: 100%;
  width: 1254%;
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  transition: all ease 0.8s
}

body .app2:hover:after{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  cursor: pointer;
}

body .app2:hover:before{
  transform: scaleX(1);
  left: 780px
}

body .app3{
  flex-basis: 7%;
  height: 100%;
  border: 2px solid rgba(136, 136, 136, 0.4);
  position: relative;
  z-index:480;
  transition: all ease 1s;
}

body .app3 img{
  position:absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.6;
  transition: all ease 1s;
}

body .app3:before{
  position: absolute;
  content: '';
  background-color:rgba(255, 221, 129, 0.521);
  left: 0;
  top: 0;
  height: 100%;
  width:100%;
  transform: scaleX(0);
  transform-origin: left;
  transition: all ease 0.5s,left 0.8s ease;
}

body .app3:after{
  position: absolute;
  content: '';
  background-image: url("../image/yourstory.png");
  background-size: cover;
  background-position: right;
  left: 0;
  top: 0;
  height: 100%;
  width: 1147%;
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  transition: all ease 0.8s
}

body .app3:hover:after{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  cursor: pointer;
}

body .app3:hover:before{
  transform: scaleX(1);
  left: 714px
}

body .app4{
  flex-basis: 7%;
  height: 100%;
  border: 2px solid rgba(136, 136, 136, 0.4);
  position: relative;
  z-index:470;
  transition: all ease 1s;
}

body .app4 img{
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.6;
  transition: all ease 1s;
}

body .app4:before{
  position: absolute;
  content: '';
  background-color:rgba(176, 226, 129, 0.521);
  left: 0;
  top: 0;
  height: 100%;
  width:100%;
  transform: scaleX(0);
  transform-origin: left;
  transition: all ease 0.5s,left 0.8s ease;
}

body .app4:after{
  position: absolute;
  content: '';
  background-image: url("../image/domestic.png");
  background-size: cover;
  background-position: right;
  left: 0;
  top: 0;
  height: 100%;
  width: 1043%;
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  transition: all ease 0.8s
}

body .app4:hover:after{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  cursor: pointer;
}

body .app4:hover:before{
  transform: scaleX(1);
  left: 648px
}

body .app5{
  flex-basis: 7%;
  height: 100%;
  border: 2px solid rgba(136, 136, 136, 0.4);
  position: relative;
  z-index:460;
  transition: all ease 1s;
}

body .app5 img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.6;
  transition: all ease 1s;
}

body .app5:before{
  position: absolute;
  content: '';
  background-color:rgba(166, 94, 146, 0.521);
  left: 0;
  top: 0;
  height: 100%;
  width:100%;
  transform: scaleX(0);
  transform-origin: left;
  transition: all ease 0.5s,left 0.8s ease;
}

body .app5:after{
  position: absolute;
  content: '';
  background-image: url("../image/designforcar.png");
  background-size: cover;
  background-position: right;
  left: 0;
  top: 0;
  height: 100%;
  width: 936%;
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  transition: all ease 0.8s
}

body .app5:hover:after{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  cursor: pointer;
}

body .app5:hover:before{
  transform: scaleX(1);
  left: 582px
}

body .backg{
  flex-basis: 58%;
  height: 100%;
}

body .backg img{
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7;
}

body .bar{
  flex-basis: 7%;
  height: 100%;
  border: 2px solid rgba(136, 136, 136, 0.4);
  background-color: 	 rgba(86, 86, 86, 0.05);
  z-index:700;
}

.min{
  display: flex;
  flex-direction: column;
  z-index: 700;
  position: absolute;
  width :30px;
  padding-left: 15px;
  padding-top: 12px;
}

.link1{
  width: 20px;
  height: 20px;
  margin-bottom: 35px;
}

.m1{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: solid rgba(255, 255, 255, 0.5) 5px;
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all ease 1s;
}

.m1:hover{
  transform: scale(1.05);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
}

.link2{
  width: 20px;
  height: 20px;
  margin-bottom: 35px;
}

.m2{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: solid rgba(255, 255, 255, 0.5) 5px;
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all ease 1s;
}

.m2:hover{
  transform: scale(1.05);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
}

.link3{
  width: 20px;
  height: 20px;
  margin-bottom: 35px;
}

.m3{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: solid rgba(255, 255, 255, 0.5) 5px;
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all ease 1s;
}

.m3:hover{
  transform: scale(1.05);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
}

.link4{
  width: 20px;
  height: 20px;
  margin-bottom: 35px;
}

.m4{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: solid rgba(255, 255, 255, 0.5) 5px;
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all ease 1s;
}

.m4:hover{
  transform: scale(1.05);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
}

.link5{
  width: 20px;
  height: 20px;
  margin-bottom: 45px;
}

.m5{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: solid rgba(255, 255, 255, 0.5) 5px;
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all ease 1s;
}

.m5:hover{
  transform: scale(1.05);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
}

body .second{
  display: flex;
  background-color: 	 rgba(255, 253, 240, 0.5);
  flex:1;
  flex-direction: column;
  margin: 10px;
  border: 4px solid rgba(59,4,29,0.4);
}

body .item2{
  flex: 4;
  flex-direction: column;
  position: relative;
  margin: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transition: all ease 1s;
}

body .item2 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body .item2 span{
  position: absolute;
  text-decoration: none;
  font: 16 21px 'font';
  letter-spacing: 2px;
  background-color: rgba(0, 0, 0, 0.05);
  color:black;
}

body .item2:hover{
  transform: scale(1.05);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
}

body .item3{
  flex: 3;
  flex-direction: column;
  position: relative;
  margin: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transition: all ease 1s;
}

body .item3 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body .item3 span{
  position: absolute;
  text-decoration: none;
  font: 16 21px 'font';
  letter-spacing: 2px;
  background-color: rgba(255, 255, 255, 0.8);
  color:black;
}

body .item3:hover{
  transform: scale(1.05);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
}

body .item4{
  flex: 1;
  flex-direction: column;
  position: relative;
  margin: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transition: all ease 1s;
}

body .item4 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body .item4 span{
  position: absolute;
  text-decoration: none;
  font: 16 21px 'font';
  letter-spacing: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  color:black;
}

body .item4:hover{
  transform: scale(1.05);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
}

body .ICP{
  width: 100%;
  height: 129%;
  background-color: rgba(146, 146, 146, 0.11);
  bottom: 0;
  left: 0;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

body .ICP span{
  font-size: 12px;
  color:rgb(99, 99, 99);
}